{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Ejemplo de javascript</title>
        <script src="{% static 'ejemploJs.js' %}"></script>
    </head>
    <body>
        <h1 class="numeroSeleccionado" id="num">4</h1>
        <button onclick="incrementarNumero()">INCREMENTAR</button>
        <button onclick="disminuirNumero()">DISMINUIR</button>
        <div id="divisionColor" style="width: 50px; height: 80px; background-color: blue;" onmouseover="cambiarColor()" onmouseleave="devolverColor()">

        </div>
        <br>
        <div>
            <label>Seleccionar un numero</label>
            <select id="numSeleccionado" onchange="imprimirSeleccion()">
                <option value=""></option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
            </select>
            <input id="nuevoNumero" type="number" readonly>
            <button onclick="agregarNumero()">AGREGAR</button>
            <button onclick="sumarTodosNumeros()">SUMAR</button>
        </div>
        <div>
            <ul id="listaNumeros"></ul>
        </div>
        <div>
            LA SUMA DE TODOS LOS ELEMENTOS ES : <i id="sumaFinal">SUMA</i>
        </div>
    </body>
</html>